.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 170px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
   padding:1rem;
   margin: 1rem;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.search-container{
    padding: 0.5rem;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    justify-content: center;
}
.res-card{
    width: 18%;
    height: inherit;
    background-color: 	#F5F5F5;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.res-card:hover{
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 50%; /* Set a fixed height for the image */
    object-fit: cover;
}
.filter{
    display: flex;
    margin: 1rem;
    gap: 1rem;
}
.filter-btn{
    /* margin: 1rem; */
    padding: 0.5rem;
    background-color: green;
    color: white;
    font-weight: 200;
    cursor: pointer;
}
.filter-btn:hover{
    background-color:darkgreen;
    color: white;
    font-weight: 400;
    font: bolder;
} 
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    justify-content: center;
    margin-top: 10rem;
}
.shimmer-card{
    width: 18%;
    height: 35rem;
    background-color: 	#f0f0f0;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
